<div class="container">

    <div class="mb-3 mt-5 progress-bar-container">
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
    </div>

    <div class="text-center mb-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>
                    Follow what matters
                </h1>
                <p class="headline text-muted text-center">Pick what you want to see - this will show up in the
                    customized news feed and don't worry, you can always change this again later.</p>
            </div>
        </div>
    </div>
    <div>
        <h3 class="float-left" style="width: 95%;">TOPICS</h3>
        <div class="float-left">
            <app-checkbox label="All"></app-checkbox>
        </div>
        <hr class="clear-both">
        <div class="row mb-5">
            <div class="col md-6">
                <app-checkbox label="Economy"></app-checkbox>
                <app-checkbox label="Government Operations"></app-checkbox>
                <app-checkbox label="Multiculturalism"></app-checkbox>
                <app-checkbox label="Services"></app-checkbox>
                <app-checkbox label="Health"></app-checkbox>
            </div>
            <div class="col-md-6">
                <app-checkbox label="Education"></app-checkbox>
                <app-checkbox label="Finance"></app-checkbox>
                <app-checkbox label="Family"></app-checkbox>
                <app-checkbox label="Agriculture"></app-checkbox>
                <app-checkbox label="Environment"></app-checkbox>
            </div>
        </div>


        <h3 class="float-left" style="width: 95%;">MINISTRIES</h3>
        <div class="float-left">
            <app-checkbox label="All"></app-checkbox>
        </div>
        <hr class="clear-both">
        <div class="row mb-5">
            <div class="col md-6">
                <app-checkbox label="Premier's Office"></app-checkbox>
                <app-checkbox label="Intergovernmental Relations Secretariat"></app-checkbox>
                <app-checkbox label="Advanced Education, Skills and Training"></app-checkbox>
                <app-checkbox label="Agriculture"></app-checkbox>
                <app-checkbox label="Attorney General"></app-checkbox>
                <app-checkbox label="Children and Family Development"></app-checkbox>
                <app-checkbox label="Citizen's Services"></app-checkbox>
                <app-checkbox label="Education"></app-checkbox>
                <app-checkbox label="Energy, Mines and Petroleum Resources"></app-checkbox>
                <app-checkbox label="Environment and Climate Change Strategy"></app-checkbox>
                <app-checkbox label="Finance"></app-checkbox>
            </div>
            <div class="col-md-6">
                <app-checkbox label="Forests, Lands, Natrual Resource Operations and Rural Development"></app-checkbox>
                <app-checkbox label="Health"></app-checkbox>
                <app-checkbox label="Indigenous Relations and Reconciliation"></app-checkbox>
                <app-checkbox label="Jobs, Trade, Technology"></app-checkbox>
                <app-checkbox label="Labour"></app-checkbox>
                <app-checkbox label="Mental Health Addictions"></app-checkbox>
                <app-checkbox label="Municipal Affairs and Housing"></app-checkbox>
                <app-checkbox label="Public Safety and Solicitor General"></app-checkbox>
                <app-checkbox label="Social Development and Poverty Reduction"></app-checkbox>
                <app-checkbox label="Tourism, Arts and Culture"></app-checkbox>
                <app-checkbox label="Transportation and Infrastructure"></app-checkbox>
            </div>
        </div>


        <h3 class="float-left" style="width: 95%;">REGIONS</h3>
        <div class="float-left">
            <app-checkbox label="All"></app-checkbox>
        </div>
        <hr class="clear-both">
        <div class="row mb-2">
            <div class="col md-6">
                <app-checkbox label="Vancouver Coast & Mountains"></app-checkbox>
                <app-checkbox label="Vancouver Island / Coast"></app-checkbox>
                <app-checkbox label="Thompson / Okanagan"></app-checkbox>
            </div>
            <div class="col-md-6">
                <app-checkbox label="Kootenay Rockies"></app-checkbox>
                <app-checkbox label="Cariboo Chilcotin Coast"></app-checkbox>
                <app-checkbox label="Northern B.C."></app-checkbox>
            </div>
        </div>
    </div>

    <div class="text-center">
        <button class="btn btn-primary pl-5 pr-5 pt-1 pb-1 mt-5 mb-3" (click)="next()">Next</button>
    </div>
</div>