h1 {
    font-weight: bold;
    font-size: 2.1em;
}

.headline {
    font-size: 1.125em;
}

.login-form {
    margin-left: 4.063em; 
    margin-right: 4.063em;
}

.progress-bar-container {
    width: 20em; 
    margin: 0 auto;
}

.container {
    margin-top: 7em;
    width: 75em;
}

.clear-both {
    clear: both;
}