<div class="container">

    <div class="mb-3 mt-5 progress-bar-container">
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
    </div>

    <div class="text-center mb-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>
                    Follow what matters
                </h1>
                <p class="headline text-muted text-center">Pick what you want to see - this will show up in the
                    customized news feed and don't worry, you can always change this again later.</p>
            </div>
        </div>
    </div>
    <div>
        <h3 class="float-left" style="width: 95%;">TOPICS</h3>
        <div class="float-left">
            <label class="custom-control fill-checkbox">
                <input type="checkbox" class="fill-control-input">
                <span class="fill-control-indicator"></span>
                <span class="fill-control-description text-muted ml-2">All</span>
            </label>
        </div>
        <hr class="clear-both">
        <div class="row mb-5">
            <div class="col md-6">
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Economy</span>
                </label>
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Government Operations</span>
                </label>
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Multiculturalism</span>
                </label>
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Services</span>
                </label>
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Services</span>
                </label>
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Health</span>
                </label>
            </div>
            <div class="col-md-6">
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Education</span>
                </label>
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Finance</span>
                </label>
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Family</span>
                </label>
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Agriculture</span>
                </label>
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Environment</span>
                </label>
            </div>
        </div>


        <h3 class="float-left" style="width: 95%;">MINISTRIES</h3>
        <div class="float-left">
            <label class="custom-control fill-checkbox">
                <input type="checkbox" class="fill-control-input">
                <span class="fill-control-indicator"></span>
                <span class="fill-control-description text-muted ml-2">All</span>
            </label>
        </div>
        <hr class="clear-both">
        <div class="row mb-5">
            <div class="col md-6">
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Premier's Office</span>
                </label>
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Intergovernmental Relations Secretariat</span>
                </label>
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Advanced Education, Skills and Training</span>
                </label>
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Agriculture</span>
                </label>
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Attorney General</span>
                </label>
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Children and Family Development</span>
                </label>
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Citizen's Services</span>
                </label>
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Education</span>
                </label>
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Energy, Mines and Petroleum Resources</span>
                </label>
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Environment and Climate Change Strategy</span>
                </label>
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Finance</span>
                </label>
            </div>
            <div class="col-md-6">
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Forests, Lands, Natrual Resource
                        Operations and Rural Development</span>
                </label>
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Health</span>
                </label>
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Indigenous Relations and Reconciliation</span>
                </label>
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Jobs, Trade, Technology</span>
                </label>
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Labour</span>
                </label>
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Mental Health Addictions</span>
                </label>
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Municipal Affairs and Housing</span>
                </label>
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Public Safety and Solicitor General</span>
                </label>
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Social Development and Poverty Reduction</span>
                </label>
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Tourism, Arts and Culture</span>
                </label>
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Transportation and Infrastructure</span>
                </label>
            </div>
        </div>


        <h3 class="float-left" style="width: 95%;">REGIONS</h3>
        <div class="float-left">
            <label class="custom-control fill-checkbox">
                <input type="checkbox" class="fill-control-input">
                <span class="fill-control-indicator"></span>
                <span class="fill-control-description text-muted ml-2">All</span>
            </label>
        </div>
        <hr class="clear-both">
        <div class="row mb-2">
            <div class="col md-6">
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Vancouver Coast & Mountains</span>
                </label>
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Vancouver Island / Coast</span>
                </label>
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Thompson / Okanagan</span>
                </label>
            </div>
            <div class="col-md-6">
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Kootenay Rockies</span>
                </label>
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Cariboo Chilcotin Coast</span>
                </label>
                <label class="custom-control fill-checkbox">
                    <input type="checkbox" class="fill-control-input">
                    <span class="fill-control-indicator"></span>
                    <span class="fill-control-description text-muted ml-2">Northern B.C.</span>
                </label>
            </div>
        </div>
    </div>

    <div class="text-center">
        <button class="btn btn-primary pl-5 pr-5 pt-1 pb-1 mt-5 mb-3" (click)="next()">Next</button>
    </div>
</div>