/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';

@font-face {
    font-family: 'Myriad-Pro';
    src: url('assets/fonts/MyriadWebPro.eot'); 
    src: url('assets/fonts/MyriadWebPro.woff2') format('woff2'), 
    url('assets/fonts/MyriadWebPro.woff') format('woff'), 
    url('assets/fonts/MyriadWebPro.ttf')  format('truetype');
  }
  
  $fa-font-path: "../node_modules/font-awesome/fonts";
  @import "../node_modules/font-awesome/css/font-awesome.min.css";

  // Layout
  @import "assets/styles/variables.scss";
  @import '../node_modules/bootstrap/scss/bootstrap.scss';
  
  @import "assets/styles/overrides.scss";