//---------------------------------------------------------------------------------------
// Overrides Bootstrap classes are change here, consider changing a variable before
// overriding classes.
//---------------------------------------------------------------------------------------
// Reference: http://www2.gov.bc.ca/gov/content/governments/services-for-government/policies-procedures/web-content-development-guides/developers-guide/css-elements
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

// Only paragraph links should be underlined
p a {
   text-decoration: underline;
 }
 @media (min-width: 992px)
 {
  .bg-primary .navbar-nav {
      flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
// Header, adds the gold bottom border and shadow
header nav {
  background-color: map-get($theme-colors, primary);;
  border-bottom: 2px solid map-get($theme-colors, secondary);

  -webkit-box-shadow: 0 3px 3px 1px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 3px 3px 1px rgba(51, 51, 51, 0.5);
  box-shadow: 0 3px 3px 1px rgba(51, 51, 51, 0.5);
  margin-bottom: 20px;
}

header .nav-link {
  color: white !important;
}

// Orange bar above footer
footer nav {
  border-top: 2px solid map-get($theme-colors, secondary);
}

// Only sibling list items in footer get left border
footer li+li  {
  @include media-breakpoint-up(lg) {
    border-left: 1px solid #4b5e73;
  }
}

// Have to ensure footer nav links are white

footer .nav-link {
    color: white !important;
}

// Sticky footer
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 65px !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  //line-height: 40px; /* Vertically center the text there */

}

.open-responsive-menu{
display: block !important;
}
.header-navigation{
display: none !important;
}

// customized

li:active{
  border: 1px solid #fff;
  border-radius: 2mm;
}

.divider {
  border-left: 1px solid map-get($theme-colors, secondary);
}

.title{ 
  padding-left:20px;
  padding-top:15px;
}

.navbar-brand a, .nav-item i, .nav-item span{
  color:#fff;
}
.nav-item .btn-link{
  color:#fff;
}

#topic-dropdowns{
  width:100%;
  border-bottom:none;
}
#topic-dropdowns .container{
  border-bottom: 1px solid lightgrey;
}

#topic-dropdowns .list-group-item{
  border: 1px solid #fff;
}

#minitry-ul {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 40px;
  column-gap: 40px;
  -moz-column-gap: 40px;
}

#sign-up-btn{
  border-radius: 2mm;
}